name: Build and Run Docker Container

on:
  pull_request:
    branches:
      - master  # Change this to your default branch if it's not 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build Docker image
        run: |
          docker build -t my-node-app .

      - name: Run Docker container
        run: |
          docker run -d -p 80:3000 my-node-app

      - name: Check running containers
        run: |
          docker ps
